div {
    animation-name: "new-cover-letter";
    animation-duration: 1s;
}
@keyframes new-cover-letter {
    from {opacity: 0}
    to {opacity: 1}
}

#cv-text {
    resize: vertical;
    width: 400px;
    max-width: 75%;

    background-color: #eeeeee;
    border: none;

    padding: 5px;
    padding-left: 10px;
}
#cv-text:focus {
    background-color: #eeeeee;
    outline: none;
}

#warning-text {
    color: darkred;
}