.text-input-expand input {
    background: #eeeeee;
    padding: 10px;
    border: none;

    font-size: 15px;
}
.text-input-expand input:focus {
    outline: none;
}

.text-input-expand {
    display: inline-block;
    position: relative;
}

.text-input-border {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    top: 100%;
    background: #991111;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin:  0% 50%;
}

.text-input-expand input:focus + .text-input-border, .text-input-expand:focus .text-input-border {
    transform: scaleX(1);
}