.text-input-class {
    width: 75%;
    max-width: 300px;

    background-color: white;
    border: 1.8px solid darkslategray;
    border-radius: 5px;

    padding: 5px;
    padding-left: 10px;
}
.text-input-class:focus {
    background-color: #dfdfdf;
}