div {
    animation-name: "new_resume";
    animation-duration: 1s;
}

@keyframes new_resume {
    from {opacity: 0}
    to {opacity: 1}
}

.inputDiv {
    padding-top: 10px;
    float: left;
    clear: left;
}

#resume-file {
    background-color: white;
    border: 1.8px solid darkslategray;
    border-radius: 5px;

    padding: 5px;
    padding-left: 10px;

    width: 80%;
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}