#tag-search-bar {
    display: flex;
}

#tag-search {
    background-image: url('./searchicon.png');
    background-position: 3px 5px;
    background-size: 16px 18px;
    background-repeat: no-repeat;

    padding-left: 25px;
}
