div {
    animation-name: "find";
    animation-duration: 1s;
}

@keyframes find {
    from {opacity: 0}
    to {opacity: 1}
}

.searchTable {
    float: left;
    clear: left;

    height: 50%;
    max-height: 300px;
    overflow: auto;

    border: 1.5px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid darkgrey;
    padding: 10px;

    text-align: left;
}

th {
    background-color: rgb(238, 228, 228);
}
td {
    background-color: white;
}